.env
.env.local
.env.*.local

# github
.githooks
.github

replace.txt
*.pem
*.key
github_pat_*

.DS_Store
Thumbs.db

node_modules/
dist/
build/

*.log

.vscode/
.idea/

__pycache__/
.pytest_cache/
venv/
.venv/
